@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro";
}


body {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f6f6f6;
    justify-content: center;
    
}

.main-container {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
    
}

.title {
    font-size: 2rem;
    text-align: center;
}



header .title {
    width: 520px;
    margin-bottom: px;
}

header p {
    color: #52525A;
    margin-top: 10px;
    width: 600px;
    text-align: center;
}


.grid-container {
    background: #F3F4F6;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.1);
    padding: 40px;
    border-radius: 25px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    max-width: 1280px;
    margin: 0 auto;
}

.card {
    background: #fff;
    padding: 40px;
    /* min-height: 150px; */
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.card-text-content {
    margin: 15px 0;
}

.card-text-content h2 {
    margin: 10px 0;
    line-height: 1.2;

}

.card-text-content p {
    color: #89898f;
    line-height: 1.5;
}

/* .card.zigzag {
    grid-column: span 2;
} */

.card.col-3 {
    
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    
    
}

.card.col-2 
{
    grid-column: span 2;
}

.card.col-3 {
    grid-column: span 3;
}


.card-title {
    font-size: 1.2rem;
}

.card img {
    width: 100%;
}



@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 640px) {
    header .title {
    width: 410px;
    margin-bottom: px;
}

    header p {
        width: 400px;
    }
}


.author-info a {
    text-decoration: none;
}


.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: auto;
    color: rgb(55, 65, 81);
 }